.search {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  left: 0;
  top: 0;
  padding: 1rem;
  background: var(--color_bg-hero);
  z-index: 999;
}

.search h1 {
  position: absolute;
  left: 1rem;
}

.search h1 .n1 {
  color: var(--color_primary);
}
.search h1 .n2 {
  color: var(--color_secondary);
}

.search input {
  background-color: var(--color_bg);
  border: none;
  border-radius: 0.5em;
  padding: 0.5rem 1rem;
  color: var(--color);
  outline: none;
  transition: all 0.3s ease;
}

.search input:focus-within {
  outline: 0.2rem solid var(--color_emphasis);
}

.search button {
  background-color: transparent;
  border: none;
  color: var(--color);
  font-size: 1.3rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.search button:hover {
  color: var(--color_primary);
}

.fav-meals,
.fav-meals li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fav-container {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  flex-direction: column;
  min-height: 8rem;
  background-color: var(--color_bg);
  box-shadow: var(--shadow);
  padding: 0.5rem 0rem;
  text-align: center;
  z-index: 999;
}

.fav-container {
  display: flex;
  gap: 0.5rem;
}

.fav-meals {
  flex-direction: row-reverse;
  width: 100%;
  overflow-x: auto;
}

.fav-meals li {
  display: block;
  position: relative;
  flex-direction: column;
  width: 4.5rem;
  flex: 0 0 auto;
  cursor: pointer;
}

.fav-meals li .clear {
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  color: var(--color);
  border: none;
  top: -0.1rem;
  right: -0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.fav-meals li:hover .clear {
  visibility: visible;
  opacity: 1;
  color: var(--color_primary);
}

.fav-meals li img {
  border: 0.2em solid var(--color_emphasis);
  border-radius: 50%;
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  filter: brightness(100%) contrast(100%) saturate(100%);
}

.fav-meals li span {
  display: inline-block;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 4.5rem;
}

.fav-btn.active {
  color: var(--color_secondary);
}
