:root {
  --color_bg-hero2: #d5d0e5;
  --color_bg2: #f3e6e8;
  --color2: #1a1a1a;
  --color_gradient2: linear-gradient(
    to right,
    var(--color_bg-hero2),
    var(--color_bg2)
  );
}

body.light {
  background: var(--color_bg-hero2);
}

body.light .search {
  background: var(--color_bg-hero2);
}

body.light .search input,
body.light .fav-container {
  background: var(--color_bg2);
}

body.light section.meals-content,
body.light .popup {
  background: var(--color_gradient2);
}

body.light .search input,
body.light .fav-container,
body.light .popup .close-popup,
body.light .popup p,
body.light .popup li {
  color: var(--color2);
}
