:root {
  --color_bg-hero: #1f2027;
  --color_bg: #414046;
  --color_primary: #00855f;
  --color_primaryAlpha: #00855faf;
  --color_secondary: #fbb72c;
  --color_secondaryAlpha: #fbb62c7a;
  --color: #ccc;
  --color_gradient1: linear-gradient(
    to right,
    var(--color_bg-hero),
    var(--color_bg)
  );
  --color_gradient2: -webkit-linear-gradient(
    to right,
    var(--color_bg-hero),
    var(--color_bg)
  );
  --shadow: 0.5em 0.5em 2em -0.5em #141414;
  --shadow-b: 0px 16px 32px -20px rgba(0, 0, 0, 0.5);

  --font_family: 'Rubik', sans-serif;
  --font_light: 300;
  --font_regular: 400;
  --font_medium: 500;
  --font_bold: 700;
}
