.mobile-container,
.meal-container,
.meals-content,
.meals,
.alert,
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

main.mobile-container {
  position: fixed;
  top: 4rem;
  width: 100%;
  height: 100%;
}

section.meals-content {
  position: relative;
  width: 100%;
  padding: 2rem 0rem;
  background: var(--color_gradient1);
  height: 70vh;
  overflow-x: hidden;
  top: 2.5rem;
}
ul.meals {
  display: grid;
  gap: 2rem;
  width: 100%;
  height: 100%;
}
li.meal-container {
  padding: 0rem 3rem;
  flex-direction: column;
  width: 30rem;
  height: auto;
}

li.meal-container:nth-last-child(1) {
  padding-bottom: 1.5rem;
}
div.meal {
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  outline: 0.2rem solid var(--color_secondary);
  overflow: hidden;
}

.meal-header {
  position: relative;
  cursor: pointer;
}
.meal-header .random {
  position: absolute;
  top: 1rem;
  left: 0rem;
  padding: 0.25rem 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--color_primaryAlpha);
  font-weight: var(--font_bold);
  transition: all 0.3s ease;
}
.meal-header .random:hover {
  background-color: var(--color_primary);
}
.meal-header img {
  background-color: var(--color_primary);
  object-fit: cover;
  height: 16rem;
  width: 100%;
  filter: grayscale(100%) brightness(100%) contrast(100%) saturate(100%);
  transition: filter 0.3s ease;
}

.meal-header img:hover,
.meal-header img:active,
.meal-header img:focus {
  filter: grayscale(0%) brightness(110%) contrast(110%) saturate(110%);
}

.meal-body {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 12.5rem;
  width: 100%;
  background: var(--color_gradient_img);
  padding: 1.2rem;
  transition: all 0.3s ease;
}
div.meal:hover .meal-body {
  font-size: 1.1rem;
}

.meal-body .fav-btn {
  border: none;
  background-color: transparent;
  color: var(--color);
  font-size: 1.2rem;
  cursor: pointer;
}

.fav-btn:hover {
  -webkit-text-stroke: 1px var(--color_emphasis);
}

.meal-body .fav-btn.active {
  color: var(--color_emphasis);
}

.alert {
  width: 100%;
  height: 25rem;
}
.not-found {
  color: #f77272;
  width: 100%;
  height: 100%;
}
