@import './meal.css';
@import './fav-search.css';
@import './popup.css';
@import './light.css';
@import './mobile.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --color_bg-hero: #1a1a1a;
  --color_bg: #383838;
  --color_primary: #f77272;
  --color_secondary: #ffb74d;
  --color_emphasis: #7ed6bf;
  --color_primaryAlpha: #f7727285;
  --color_secondaryAlpha: #ffb84d86;
  --color: #ffffff;
  --color_gradient1: linear-gradient(
    to right,
    var(--color_bg-hero),
    var(--color_bg)
  );
  --color_gradient_img: linear-gradient(to bottom, transparent, #1a1a1a 75%);
  --shadow: 0.5em 0.5em 2em -0.5em #141414;
  --shadow-b: 0px 16px 32px -20px rgba(0, 0, 0, 0.5);

  --font_family: 'Rubik', sans-serif;
  --font_light: 300;
  --font_regular: 400;
  --font_medium: 500;
  --font_bold: 700;

  --color_bg-hero2: #d5d0e5;
  --color_bg2: #f3e6e8;
  --color2: #1a1a1a;
  --color_gradient2: linear-gradient(
    to right,
    var(--color_bg-hero2),
    var(--color_bg2)
  );
}
hmtl,
body {
  font-family: var(--font_family);
  color: var(--color);
  background: var(--color_gradient1);
}
body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color_primary);
  border-radius: 0.1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--color_secondaryAlpha);
  width: 0.5rem;
}

footer {
  position: absolute;
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  text-align: center;
  bottom: 0;
  background-color: var(--color_bg-hero);
}

footer span {
  color: var(--color_primary);
}
