* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
}

:root {
  --color_bg-hero: #1f2027;
  --color_bg: #414046;
  --color_primary: #00855f;
  --color_secondary: #fbb72c;
  --color: #ccc;
  --color_gradient1: linear-gradient(
    to right,
    var(--color_bg-hero),
    var(--color_bg)
  );
  --color_gradient2: -webkit-linear-gradient(
    to right,
    var(--color_bg-hero),
    var(--color_bg)
  );
  --shadow: 0.5em 0.5em 2em -0.5em #141414;

  --font_family: 'Rubik', sans-serif;
  --font_light: 300;
  --font_regular: 400;
  --font_medium: 500;
  --font_bold: 700;
}

hmtl,
body {
  font-family: var(--font_family);
  color: var(--color);
  background: --color_gradient1;
  background: var(--color_gradient1);
}
body,
header,
.fav-meals,
.fav-meals li,
.popup-info-container,
.meal-popup,
.close-popup {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  min-height: 100vh;
}

img {
  max-width: 100%;
}
.mobile-container {
  width: 25rem;
  border-radius: 2rem;
  background: var(--color_bg-hero);
  box-shadow: var(--shadow);
  overflow: hidden;
}

header {
  padding: 1rem;
}

header input {
  background-color: var(--color_bg);
  border: none;
  border-radius: 1em;
  padding: 0.5rem 1rem;
}

header button {
  background-color: transparent;
  border: none;
  color: var(--color);
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.fav-container {
  flex-direction: column;
  background-color: var(--color_bg);
  padding: 0.5rem 1rem;
  text-align: center;
}

.fav-meals,
.fav-container {
  display: flex;
  gap: 0.5rem;
}

.fav-meals {
  flex-wrap: wrap;
}

.fav-meals li {
  position: relative;
  flex-direction: column;
  width: 4.5rem;
  cursor: pointer;
}

.fav-meals li .clear {
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  color: var(--color_bg-hero);
  border: none;
  top: -0.3rem;
  right: 0.1rem;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0;
}
.fav-meals li:hover .clear {
  opacity: 1;
}

.fav-meals li img {
  border: 0.2em solid var(--color);
  box-shadow: var(--shadow);
  border-radius: 50%;
  object-fit: cover;
  height: 4.5rem;
  width: 4.5rem;
}

.fav-meals li span {
  display: inline-block;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 4.5rem;
}

.meal {
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}
.meal-header {
  position: relative;
}
.meal-header .random {
  position: absolute;
  top: 1rem;
  left: -0.5rem;
  background-color: var(--color_bg);
  padding: 0.25rem 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.meal-header img {
  object-fit: cover;
  height: 15.5rem;
  width: 100%;
}
.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}

.meal-body .fav-btn {
  border: none;
  background-color: transparent;
  color: var(--color);
  font-size: 1.2rem;
  cursor: pointer;
}

.meal-body .fav-btn.active {
  color: var(--color_secondary);
}

.popup-info-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-info-container.hidden {
  display: none;
}

.popup {
  position: relative;
  padding: 1rem 2rem;
  max-width: 400px;
  width: 100%;
  max-height: 90vh;
  background-color: var(--color_bg-hero);
  border-radius: 0.5rem;
  overflow: auto;
}

.popup .meal-popup h1 {
  color: #fbb72c;
  text-align: center;
}

.popup .meal-popup img {
  border: 2px solid var(--color);
  border-radius: 0.5rem;
  max-width: 100%;
}

.meal-popup p {
  word-wrap: break-word;
  text-align: justify;
}

.popup .close-popup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--color);
  border: none;
  background-color: var(--color_bg-hero);
  cursor: pointer;
}
